@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFFFFF;
  --black: #000000;
  --primary: rgb(31, 118, 210);
  --danger: rgb(216, 24, 24);
}

h1,h2,h3,h4,h5,h6,p,a,button,span {
  line-height: 1.4;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
}

a.active {
	background-color: var(--primary);
	color: var(--white);
}

body {
  background-color: var(--white);
  font-family: 'Abel', sans-serif;
}

.sidebar-link {
	opacity: 0.8;
	cursor: pointer;
	font-size: 1.2rem;
	padding: 0.6rem;
	border-radius: 0.3rem;
	display: flex;
	align-items: center;
	gap: 1rem;
	font-weight: 600;
	transition: all 0.5s ease;
	color: var(--white);
}

.header-nav {
	font-size: 1.1rem;
	border-radius: 0.3rem;
	font-weight: 600;
	transition: all 0.5s ease;
	color: var(--primary);
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
}

.header-nav:hover {
	opacity: .9;
}

.btn-more {
	font-size: 1rem;
	border-radius: 0.3rem;
	padding: .5rem .8rem;
	font-weight: 600;
	transition: all 0.5s ease;
	color: var(--white);
	background-color: var(--primary);
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
}

.btn-more:hover {
	opacity: .9;
}